body{
	margin: 50px;
}

h1{
	font-family: Tahoma, sans-serif;
	color: red;
	display: flex;
	justify-content: center;
}
.card-deck{
	display: flex;
	gap: 50px 50px;
	flex-wrap: wrap;
	
}
.card{
	flex: 1 0 10%;
	width: 200px;
	background-color: #424342;
	color: white;
}
